<!DOCTYPE html>
<html lang="en">
<%- include ('partials/header.ejs') %>
<body>


<div class="nav">
    <a class="center" href="/"><h1>EXPLOSION</h1></a>
    <li><a class="register" href="/register">Entrar</a></li>
</div>


</div>
<div>
    <h1>Ofertas do dia</h1>
</div>
<div class="box">
    <img src="/images/ssd.jpg"/>
    <span> SSD Samsung 970 EVO  <br> </span>
    <span> Preço: 808,90 <br> </span>
    <span> Ou: 12x de R$79,30 </span>
</div>
<div class="box">
    <img src="/images/rtx.jpg "/>
    <span> Samsung A01 </span>
    <span> Preço: R$4.999,90 <br> </span>
    <span> Ou: 10x de R$490,19 </span>
</div>
<div class="box">
  <img src="/images/ssd.jpg"/>
  <span> SSD Samsung 970 EVO  <br> </span>
  <span> Preço: 808,90 <br> </span>
  <span> Ou: 12x de R$79,30 </span>
</div>
<div class="box">
  <img src="/images/rtx.jpg "/>
  <span> Samsung A01 </span>
  <span> Preço: R$4.999,90 <br> </span>
  <span> Ou: 10x de R$490,19 </span>
</div>
<div class="box">
  <img src="/images/ssd.jpg"/>
  <span> SSD Samsung 970 EVO  <br> </span>
  <span> Preço: 808,90 <br> </span>
  <span> Ou: 12x de R$79,30 </span>
</div>
<div class="box">
  <img src="/images/rtx.jpg "/>
  <span> Samsung A01 </span>
  <span> Preço: R$4.999,90 <br> </span>
  <span> Ou: 10x de R$490,19 </span>
</div>
<div class="box">
  <img src="/images/ssd.jpg"/>
  <span> SSD Samsung 970 EVO  <br> </span>
  <span> Preço: 808,90 <br> </span>
  <span> Ou: 12x de R$79,30 </span>
</div>
<div class="box">
  <img src="/images/rtx.jpg "/>
  <span> Samsung A01 </span>
  <span> Preço: R$4.999,90 <br> </span>
  <span> Ou: 10x de R$490,19 </span>
</div>
<div class="box">
  <img src="/images/ssd.jpg"/>
  <span> SSD Samsung 970 EVO  <br> </span>
  <span> Preço: 808,90 <br> </span>
  <span> Ou: 12x de R$79,30 </span>
</div>
<div class="box">
  <img src="/images/rtx.jpg "/>
  <span> Samsung A01 </span>
  <span> Preço: R$4.999,90 <br> </span>
  <span> Ou: 10x de R$490,19 </span>
</div>
<div class="box">
  <img src="/images/ssd.jpg"/>
  <span> SSD Samsung 970 EVO  <br> </span>
  <span> Preço: 808,90 <br> </span>
  <span> Ou: 12x de R$79,30 </span>
</div>
<div class="box">
  <img src="/images/rtx.jpg "/>
  <span> Samsung A01 </span>
  <span> Preço: R$4.999,90 <br> </span>
  <span> Ou: 10x de R$490,19 </span>
</div>
<div class="box">
  <img src="/images/ssd.jpg"/>
  <span> SSD Samsung 970 EVO  <br> </span>
  <span> Preço: 808,90 <br> </span>
  <span> Ou: 12x de R$79,30 </span>
</div>
<div class="box">
  <img src="/images/rtx.jpg "/>
  <span> Samsung A01 </span>
  <span> Preço: R$4.999,90 <br> </span>
  <span> Ou: 10x de R$490,19 </span>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="estiloFooter">
                <h4>Empresa</h4>
                <ul>
                    <li><a href="sobreNos.html">Sobre nós</a></li>
                    <li><a href="#">Politicas de Privacidade</a></li>
                    <li><a href="contato.html">Contatos</a></li>
                </ul>
            </div>
            <div class="estiloFooter">
                <h4>Precisa de ajuda?</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Status da encomenda</a></li>
                    <li><a href="#">Métodos de pagamento</a></li>
                </ul>
            </div>
            <div class="estiloFooter">
                <h4>Nos siga</h4>
                <div class="redesSociais">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>








</body>
</html>
<!--Importando o JS do bootstrap, precisamos lembrar que para ele funcionar eu preciso de 2 dependencias: jquery e o popper. Não vamos instalar, só vamos importar -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>